<div>
    <div class="alert alert-info">@Title</div>
    <div class="alert alert-success">
        @if (ChildContent != null)
        {
            <span>@ChildContent</span>
        }
        else
        {
            <span>Default message :(</span>
        }
    </div>

</div>

@code {
    [Parameter]
    public string Title { get; set; }
    
    [Parameter]
    public RenderFragment ChildContent { get; set; } // THIS HAS TO BE CALLED ChildContent OR ELSE AN EXCEPTION HAPPENS
}