<div>
    <div class="alert alert-info">@Title</div>
    <div class="alert alert-success">
        @if (@DangerChildContent != null)
        {
            <span>@DangerChildContent</span>
        }
        else
        {
            @if (ChildContent != null)
            {
                <span>@ChildContent</span>
            }
            else
            {
                <span>Default message :(</span>
            }
        }
    </div>
    <button class="btn btn-danger" @onclick="OnButtonClick">Trigger function!</button>
</div>

@code {
    [Parameter]
    public string Title { get; set; }
    
    [Parameter]
    public RenderFragment ChildContent { get; set; } // THIS HAS TO BE CALLED ChildContent OR ELSE AN EXCEPTION HAPPENS
    
    [Parameter]
    public RenderFragment DangerChildContent { get; set; }

    [Parameter]
    public EventCallback OnButtonClick { get; set; }
}