@page "/learnblazor/bindprop"

<h3>Product</h3>
<p>Name: @Product.Name</p>
<p>Active: @Product.IsActive</p>
<p>Price: @Product.Price</p>
<br>

<label for="active">Active: </label>
<input id="active" type="checkbox" @bind="Product.IsActive" @bind:event="oninput">
<br>
<label for="price">Price: </label>
<input id="price" type="number" @bind="Product.Price" @bind:event="oninput">

@code {
    Tangy_Models.LearnBlazorModels.Demo_Product Product = new()
    {
        Id = 1,
        Name = "Rose Candle",
        IsActive = true,
        Price = 10.99
    };
}