@page "/learnBlazor/BlazorJS"
@* The following allows us to use JS on the page *@
@inject IJSRuntime _jsRuntime

<h3>BlazorJS</h3>

<div class="row">
    <button class="btn btn-secondary" @onclick="TestConfirmBox">Test Confirm Button</button>
</div>

<div class="row">
    <p>Confirm Result is: @ConfirmResult</p>
</div>

@code {
    private string ConfirmMessage { get; set; } = "Are you sure you want to click?";
    private bool ConfirmResult { get; set; }
    
    private async Task TestConfirmBox()
    {
        // Creates a JS confirm box with our custom ConfirmMessage.
        ConfirmResult = await _jsRuntime.InvokeAsync<bool>("confirm", ConfirmMessage);
    }
}