@page "/learnBlazor/ParentComponent"

<h3>Parent/Child Relation</h3>
<CascadingValue Value="@MessageForGrandChild"> <!-- This passes the value to the _GrandChildComponent -->
    <_ChildComponent OnButtonClick="ShowMessage" Title="This title is passed as a parameter from the parent component">
        Render fragment from parent component!
    </_ChildComponent>
</CascadingValue>

<p>@MessageText</p>

@* <_ChildComponent Title="This title is a second call"> *@
@*     <ChildContent>A second way to render fragments!</ChildContent> *@
@*     <DangerChildContent>Danger content from render fragment!</DangerChildContent> *@
@* </_ChildComponent> *@

<_AnotherChildComponent placeholder="Placeholder from parent">
</_AnotherChildComponent>

@code {
    public string MessageText = "Click the button";
    public string MessageForGrandChild { get; set; } = "Message from GrandParent";

    private void ShowMessage()
    {
        MessageText = "Child component button clicked.";
    }
}