@page "/learnBlazor/ParentComponent"

<h3>Parent/Child Relation</h3>

<_ChildComponent Title="This title is passed as a parameter from the parent component">
    Render fragment from parent component!
</_ChildComponent>

<_ChildComponent Title="This title is a second call">
</_ChildComponent>

@code {
    
}